#datepicker-frame {
    width: 300px;
    height: 300px;
    position: absolute;
    /* border: 2px solid blue; */
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 8px 0 black;
}

#datepicker-frame table {
    border-collapse: collapse;
    margin: auto;
}

#datepicker-frame td,
#datepicker-frame th {
    width: calc(300px / 7 - 2px);
    height: calc(300px / 8 - 2px);
    border-radius: 4px;
    text-align: center;
}

#datepicker-frame .disabled {
    color: #a0a0a0;
}

#datepicker-frame .today {
    background-color: #a0a0ff;
    color: white;
}

#datepicker-frame td:not(.disabled):hover {
    background-color: #d0d0d0;
}

#datepicker-frame .pointer {
    cursor: pointer;
}