#datepicker {
    width: 300px;
    height: 300px;
    margin: calc(50vh - 150px) calc(50vw - 150px);
    border-radius: 8px;
    box-shadow: 0 0 8px 0 black
}

tr:hover {
    background-color: blue;
    cursor: pointer;
}